<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Website Submission</title>
	<link rel="stylesheet" type="text/css" href="assets/styles/index-style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!--Header starts here-->
	<header>
		<div class="nav" id="id-nav">
			<input type="checkbox" id="check-nav">
			<div class="nav-header">
			<img src="assets/images/zklogo.png" width="80" alt="zk-logo" id="zklogo">
			</div>

			<div class="btn-nav">
				<label for="check-nav">
					<span></span>
					<span></span>
					<span></span>
				</label>
			</div>

			<div class="nav-links">
				
				<a href="index.html">Beranda</a>
				<a href="#intro-kuliner">Aneka Kuliner</a>
				<a href="#profile">About</a>
				<a href="#footer">Contact Me</a>
				
			</div>
		</div>
		<div class="headline">
			<h2>Aneka Kuliner</h1>
			<h2>Nusantara</h2>
		</div>
	</header>
<!--Header ends here-->

<!--Main content starts here-->
	<main>
		<div id="content">

			<article id="intro-kuliner" class="card">
				<h2>Nikmatnya Kuliner Kota Depok</h2>
				<img src="assets/images/headcontent.jpg" class="featured-image" alt="experience">
				<h2>Bingung mau makan apa saat di Depok?</h2>
				<p>
					Depok merupakan salah satu kota besar di Jabodetabek. Pada mulanya, kota ini merupakan sebuah kecamatan dari Kabupaten Bogor yang kemudian
					menjadi sebuah kota pada tanggal 27 April 1999.
				</p>
				<p>Letaknya yang berdekatan dengan
					Kota Bogor dan Jakarta, membuat Depok sering ditujukan sebagai tempat untuk menikmati kuliner-kuliner yang nikmat.
					Lalu apa saja kuliner di Kota Depok yang enak dan pastinya nikmat? Simak informasinya di bawah!
				</p>
			</article> 

			<article id="kuliner" class="card">
				<h2>Pondok Ikan Bakar</h2>
				<img src="assets/images/ikanbakar.JPG" class="featured-image" alt="experience">
				<p>
					Di Jalan Raya Tapos No 1, anda akan menemukan sebuah wisata masakan Depok yang menyajikan 
					aneka hidangan bakar, yakni Pondok Ikan Bakar Kalimantan. Walaupun namanya mengandung istilah 
					ikan bakar, tempat makan satu ini juga menghidangkan aneka lauk lain misalnya udang & ayam. 
					Ada pula sayuran, misalnya tumis kangkung & lalap panaskan buat mendampingi lauk pesanan anda.
				</p>
				<p> Jika anda tertarik makan pada Pondok Ikan Bakar Kalimantan usahakan untuk menyiapkan dana kurang 
					lebih Rp.180.000 buat 2 orang, ya. Setiap harinya, tempat makan di Depok ini buka pukul 10:30 – 
					20:00.</p>
				<hr style="margin: 10% auto;">
				<h2>Mujigae</h2>
				<img src="assets/images/mujigae.JPG" class="featured-image" alt="experience">
				<p>
					Anda tidak harus mengeluarkan banyak dana untuk bisa menikmati kuliner khas Korea. 
					Di Mujigae, hanya dengan mengeluarkan dana sekitar Rp,120.000 untuk dua orang anda sudah 
					dapat menikmati berbagai makanan ala Korea. Menunya pun beragam, mulai dari Bingsoo 
					(es khas Korea), Bibimbab, Toppoki, hingga Korean BBQ. 
				</p>
				<p>  Nah, daripada penasaran, anda bisa langsung datang tempat wisata kuliner
					 Depok satu ini di Margo City, Lantai 1, Jalan Margonda Raya, Beji. 
					  Mujigae buka pukul 10:00 – 22:00, setiap hari.
					 Hubungi 021-29049202 jika anda ingin melakukan pemesanan lebih dulu.</p>
				<hr style="margin: 10% auto;">
				
				<h2>Waroeng SS</h2>
				<img src="assets/images/waroengss.JPG" class="featured-image" alt="experience">
				<p>
					Tempat wisata kuliner Depok yang berlokasi di Jalan Margonda Raya No. 280 ini sangat cocok untuk 
					anda yang suka makanan pedas. SS merupakan singkatan dari <strong>Spesial Sambal</strong>, 
					Waroeng SS ini menyediakan puluhan jenis sambal yang beragam. 
					Beberapa varian sambal yang menjadi favorit pembeli adalah sambal terasi matang, 
					sambal rempelo ati, sambal wader, dan sambal mangga muda.
				</p>
				<p>
					 Selain berbagai macam sambal yang beragam, disini anda dapat memilih lauk sesuai selera.
					 Mulai dari ayam, ikan, cumi, hingga belut bisa anda coba di sini. 
					 anda bisa datang ke sini setiap harinya pukul 11:00 – 22:00. 
					 Jangan lupa, siapkan dana sekitar Rp100.000 untuk dua orang.
				</p>
				
				<h2>Ayam Bakar Christina</h2>
				<img src="assets/images/ayambakarabc.jpeg" class="featured-image" alt="experience">
				<p>
					Ayam Bakar Christina merupakan salah satu kuliner legendaris di Kota Depok.
					Dikenal dengan singkatan "<strong>ABC</strong>", restoran ini sudah terkenal kelezatannya sejak
					tahun 1986
				</p>
				<p style="margin-bottom: 50px;">
					Ayam Bakar Christina konon katanya menjadi tempat makan pertama yang menyediakan
					menu ayam bakar di Depok. Proses masaknya juga cukup lama sampai bumbunya meresap dan tekstur
					daging menjadi empuk, tidak heran jika tempat ini menjadi favorit banyak orang. Harga per-porsi 
					dibanderol mulai dari Rp.15.000 - Rp.65.000-an
					Lokasi restoran ini berada di Jalan Margonda Raya No. 420, Depok, Jawa Barat.
				</p>
				<span style="color: #fff;">(Source : food detik, diadona)</span>
			</article> 

		</div>
		<aside class="card">
			<article class="my-profile">
				<header id="profile">
					<h1>About Me</h1>
					<h2>Dzaky Athallah Luqman</h2>
					<figure>
						<img src="assets/images/dzaky.jpeg">
						<figcaption><h3>ID : C2942657</h3></figcaption>
					</figure>	
				</header>
				<section>
					<h3>Informasi Lainnya</h3>
					<table>
							<tr>
								<th>Pendidikan</th>
								<td>Mahasiswa</td>
							</tr>
							<tr>
								<th>Institut</th>
								<td>Universitas Pembangunan Jaya</td>
							</tr>
							<tr>
								<th>Jurusan/Program Studi</th>
								<td>Informatika</td>
							</tr>
							<tr>
								<th>Tempat Lahir</th>
								<td>Jakarta</td>
							</tr>
								<tr>
								<th>Tanggal Lahir</th>
								<td>14 April 2000</td>
							</tr>
					</table>
				</section>
			</article>
		</aside>
		
	</main>
	<button onclick="BacktoTop()" id="btnTop">Up</button>
<!--Main content ends here-->

<footer id="footer">

	<h2>Keep in Touch with Me on</h2>
	<div class="container">
		<div class="box"><img src="assets/images/instagram.png" width="50"></div>
		<div class="box"><img src="assets/images/fb.png" width="40"></div>
		<div class="box"><img src="assets/images/twitter.png" width="40"></div>
	</div>
	<h4>Submission Dicoding | Dzaky Athallah Luqman &#169; 2021</h4>
	<a href="https://www.dicoding.com/"><img src="assets/images/dicoding.png" height="80" width="140" style="background-color: #fff; border-radius: 10px;"></a>
</footer>

<!--All Scripts put in here-->
<script type="text/javascript" src="assets/index.js"></script>
</body>
</html>